@font-face {
	font-family: "TT Lakes";
	font-weight: 700;
	src: url("TTLakes-Bold.woff") format("woff"),
		url("TTLakes-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "TT Lakes";
	font-weight: 500;
	src: url("TTLakes-Medium.woff") format("woff"),
		url("TTLakes-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "TT Lakes";
	font-weight: 400;
	src: url("TTLakes-Regular.woff") format("woff"),
		url("TTLakes-Regular.ttf") format("truetype");
}
